<script type="text/javascript">
    {if $ajaxextramethod=="SideForm"}
    sideErrorAndJump({$msg}, '{$jumpUrl|noescape}',{$time});
    {else}
    errorAndJump({$msg}, '{$jumpUrl|noescape}',{$time});
    {/if}
</script>