<a href="{url('consoles_acorn_apply',"active=Action")}" {if $active=="Action"}class="selected"{/if}>行为</a>
<a href="{url('consoles_acorn_apply',"active=Report")}" {if $active=="Report"}class="selected"{/if}>汇报</a>
<a href="{url('consoles_acorn_apply',"active=Achievement")}" {if $active=="Achievement"}class="selected"{/if}>业绩</a>