<a href="{url('consoles_lists',"con=AcornAuditDetail&types=audit")}" {if $types=="audit"}class="selected"{/if}>待审核</a>
<a href="{url('consoles_lists',"con=AcornAuditDetail&types=audited")}" {if $types=="audited"}class="selected"{/if}>已审核</a>
<a href="{url('consoles_acorn_applyLists',"types=my")}" {if $types=="my"}class="selected"{/if}>我的申请</a>