<a href="{url("consoles_standard_allStandards","active=Achievement")}" {if $active=="Achievement"}class="selected"{/if}>业绩</a>
<a href="{url("consoles_standard_allStandards","active=Report")}" {if $active=="Report"}class="selected"{/if}>汇报</a>
<a href="{url("consoles_standard_allStandards","active=Action")}" {if $active=="Action"}class="selected"{/if}>行为</a>
{*<a href="{url("consoles_standard_allStandards","active=Ability")}" {if $active=="Ability"}class="selected"{/if}>能力</a>*}
{*<a href="{url("consoles_standard_allStandards","active=MentalityAndCulture")}" {if $active=="MentalityAndCulture"}class="selected"{/if}>心态和文化</a>*}