 .node-list{
        margin: 0;list-style-type: none;
        border-bottom: 1px solid #f0f0f0;
        width: 750px;
        padding-left: 50px;
        position: relative;
    }
    .node-list:hover,.node-list.hover{
        background: #f7f7f7;
    }
    .node-list .item{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }
    .node-list .item input,.role-item input{
        vertical-align: text-bottom; margin-bottom:2px; margin-bottom:-2px\9;
    }

    .node-list .theme{       
        position: absolute;
        height: 100%;
        line-height: 32px;
        width: 30px;        
        left: 10px;
        text-align: right; 
        color: #1596ad;
    }
    .node-list .item,.role-item{
        height: 30px;
        width: 120px;
    }