<div class='box index-footer' style="position: relative;z-index:9999;top:-40px">
    2015 <img src="{path('[Admin]/images/icon/copy.png')}"/> <a target='_blank' href='http://workless.cn'>Workless.cn™</a>.
</div>
