<a href="{url("consoles_detail","con=taskGroup&id=".$id."&active=0")}" {if $active=="0"}class="selected"{/if}>基本信息</a>
<a href="{url("consoles_detail","con=taskGroup&id=".$id."&active=1")}" {if $active=="1"}class="selected"{/if}>任务</a>
<a href="{url("consoles_detail","con=taskGroup&id=".$id."&active=2")}" {if $active=="2"}class="selected"{/if}>进展</a>
<a href="{url("consoles_detail","con=taskGroup&id=".$id."&active=3")}" {if $active=="3"}class="selected"{/if}>成员</a>
