<a href="{url('consoles_lists','con=task&types=reward')}" {if $active=="reward"}class="selected"{/if}>我的悬赏</a>
<a href="{url('consoles_lists','con=task&types=temp')}" {if $active=="temp"}class="selected"{/if}>悬赏列表</a>
