<!DOCTYPE html>
<html>
<head>

</head>
<body>

{*底部*}
<div class="bottom">
    <div class="foot">
        <div class="botLeft">
            <p>热线： 0755-32914822</p>
            <p>客服QQ：2294730290</p>
            <p>邮箱：change@jeechange.com</p>
        </div>
        <div class="bots">
            <div class="icons">
                <a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A0%2C%22sid%22%3A%22-100%22%2C%22tid%22%3A%22-1%22%2C%22ttype%22%3A1%2C%22siteId%22%3A%2213227066%22%2C%22userId%22%3A%2210577487%22%2C%22pageId%22%3A0%7D">
                    <img src="{path('[Home]/img/call.png')}" alt="">
                    <p>购买商业版联系在线客服</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="botPhone">
    <p>版权所有 © 九程软件</p>
</div>

</body>
</html>
