<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>九程软件-菜单分配</title>
    <meta name="keywords" content="九程软件-菜单分配"/>
    <meta name="description" content="九程软件-菜单分配"/>
    <link href="{path('[Node]/css/layout.css') }" rel="stylesheet" type="text/css"/>
    <link href="{path('[Node]/css/content.css')}" rel="stylesheet" type="text/css"/>

    <style>
        #formSite th, #formSite td{
            border:1px solid #f2f2f2;
        }

        #formSite table{
            padding:0;
        }

        .node-item, .menu-item{
            display:inline-block;
            border:1px solid #eee;
            padding:2px 5px;
            margin-top:5px;
        }
    </style>

    <script src="{path('[Jeechange]/js/jquery-1.8.3.min.js') }"></script>
    <script type="text/javascript" src="{path('[Core]/layer/layer.js')}"></script><!-- 弹出层 -->
    <script src="{path('[Core]/niceue/validator/jquery.validator.js') }"></script>
    <script type="text/javascript" src="{path('[Core]/niceue/validator/local/zh_CN.js')}"></script>
    <script src="{path('[Node]/sideForm.js')}"></script>

</head>
<body class="index-body">
<div id="contentedits">
    <div id="contenteditsloding" style="position: absolute;left:0;right:0;top:0;height: 3px;z-index:999999">
        <div id="contenteditslodingpercentage" style="width: 10%;height: 3px; background: #4d91e4;"></div>
    </div>
    <div id="contenteditsdiv"></div>
    <div id="contenteditsdivRes" style="display: none;"></div>
    <div class="contenteditsSubmit">提交</div>
</div>
<div class="box index-main">
    <div id='contentdiv' class="content" style="position:absolute;left:0px;right:0;overflow-y:scroll;bottom:0;top:60px;padding: 0 20px 20px 20px;">
        <div class="tableoptions searchForm">
            <form>
                SID: <input type="text" name="sid" value="{$defaultSid}">
                选择MODULE: <select id="module" name="module" style="min-width: 300px;min-height:30px;">
                    {foreach $mods as $vo}
                        <option {if $defaultMod == $vo}selected{/if}>{$vo}</option>
                    {/foreach}
                </select>
                <input type="submit" class="btn green" value="切 换"/>
                <a type="button" id="newMenu" href="{$newMenuUrl}" class="btn green" data-side-form="800px">新建角色</a>
                <a type="button" href="{url('node_index_index')}" class="btn green">回首页</a>
            </form>
        </div>

        <form id="loginform" method="post" action="" class="mform">
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                <thead>
                <tr>
                    <th><span class="table-head"><input class="col-2" value="排序" type="submit" style="background: #35aa47;border: none;color: #fff;height: 25px"></span></th>
                    <th>角色名称</th>
                    <th>角色标识</th>
                    <th>角色类型</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach $lists as $item}
                    <tr>
                        <td>
                            <input type="text" name="ids[1]" class="sectionsort" style="width:50px;margin:0;text-align:center;" value="0">
                        </td>
                        <td>{$item['names']}</td>
                        <td>{$item['roleName']}</td>
                        <td>{$item['weight']>0?"内置":"自定义"}</td>
                        <td>{$item['statusMemo']}</td>

                        <td>
                            {if $item['status']==0}
                                <a href="{url('node_roles_states',array('id'=>$item['id'],"status"=>1))}">启用</a>
                            {else}
                                <a href="{url('node_roles_states',array('id'=>$item['id'],"status"=>0))}">停用</a>
                            {/if}
                            |<a data-side-form="800px" href="{url('node_del_mod','con=Roles&act=modify&id='.$item['id'])}">修改</a>
                            |
                            <a href="{url('node_del_mod','con=Roles&act=delete&id='.$item['id'])}">删除</a>
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>