<div class="tabs">
    <div style="width:90%;float:left;overflow-y: auto;white-space: nowrap;display: inline-block;">
        <a href="{url("mobileConsoles_sort_rankings",array("types"=>1,"bTypes"=>1))}" class="tabs-link{if $types==1} active{/if}" style="margin-left: 6px;">个人</a>
        <a href="{url("mobileConsoles_sort_rankings",array("types"=>2,"bTypes"=>1))}" class="tabs-link{if $types==2} active{/if}">部门</a>
        <a href="{url("mobileConsoles_sort_rankings",array("types"=>3,"bTypes"=>1))}" class="tabs-link{if $types==3} active{/if}">小组</a>
    </div>
</div>