<div class="tabs">
    <div style="width:90%;float:left;overflow-y: auto;white-space: nowrap;display: inline-block;">
        <a href="{url("mobileConsoles_sort_findAcorn",array("types"=>"find"))}" class="tabs-link{if $active=='find'} active{/if}" style="margin-left: 1rem;">查询</a>
    </div>
</div>