<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>九程软件-权限构建模块</title>
    <meta name="keywords" content="权限构建模块"/>
    <meta name="description" content="权限构建模块"/>
    <link type="text/css" rel="stylesheet" href="{path('[Node]/css/login.css')}"/>
</head>
<body class="login">
<div class="login_bg_form">
    <div class="loginform">
        <div class="login-box-plain">
            <h2>权限构建模块-程序员内部使用</h2>
            <div style="color:red;font-size:14px; padding-top: 5px;"></div>
            <form id="loginform" method="post" action="" class="mform">
                <div class="loginBoxCenter">

                    <div><a class="btn" href="{url('node_index_copy')}">复制资源文件</a></div>
                    <div><a class="btn" href="{url('node_addNode_index')}">生 成 节 点</a></div>
                    <div><a class="btn" href="{url('node_addNode_menu')}">菜 单 节 点</a></div>
                    <div><a class="btn" href="{url('node_roles_lists')}">内置角色</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>