<div class="tabs" style="height:3.2rem;line-height:3.2rem;background-color:#f2f2f2">
    <a href="{url("mobileConsoles_study_rec","types=rec")}" class="tabs-link{if $active=='rec'} active{/if}" style="margin-left: 6px;">推荐</a>
    <a href="{url("mobileConsoles_study_lists")}" class="tabs-link{if $active=='all'} active{/if}">全部</a>
    <a href="{url("mobileConsoles_study_study","types=study")}" class="tabs-link{if $active=='study'} active{/if}">我的学习</a>
    <a href="{url("mobileConsoles_study_studySetting")}" class="tabs-link tabs-link-settings"><span class="icon icon-settings" style="line-height:3.2rem"></span></a>
</div>