<div class="tabs">
    <div style="width:90%;float:left;overflow-y: auto;white-space: nowrap;display: inline-block;">
        <a href="{url("mobileConsoles_Survey_lists",array("active"=>"Partake"))}" class="tabs-link {if $active=="Partake"}active{/if}" style="margin-left: 6px;">我参与的</a>
        <a href="{url("mobileConsoles_Survey_lists",array("active"=>"All"))}" class="tabs-link {if $active=="All"}active{/if}" >所有调查</a>
        <a href="{url("mobileConsoles_Survey_lists",array("active"=>"Release"))}" class="tabs-link {if $active=="Release"}active{/if}">发布调查</a>
    </div>
</div>