{layout "../Layout/layout.latte"}
{block tabs_content}
    {include "./tabs.latte"}
    {include "./tabs_lobby.latte"}
{/block}

{block content}


    <div style="font-size:36px;text-align: center;margin-top: 30%;color:red">记录信息获取失败</div>

{/block}