<style>
    .tabs-lobby ~ .content{
        top:4.1rem;
    }

    .tabs-lobby{
        position:absolute;
        height:20px;
        width:100%;
        display:flex;
        justify-content:space-around;
        z-index:16;
        text-align:center;
        color:#fff;
        background-color:#fe7470;
        line-height:20px;
    }

    .bar-header-secondary ~ .tabs-lobby{
        top:5.5rem;
    }
</style>
<div class="tabs-lobby">本周剩余可兑换次数:{$sNum}次</div>