<style type="text/css">
    *{ padding: 0; margin: 0; } 
    div{ padding: 4px 48px;} 
    body{ background: #fff; font-family: "微软雅黑"; color: #333;font-size:24px} 
    h1{ font-size: 100px; font-weight: normal; margin-bottom: 12px; } 
    p{ line-height: 1.8em; font-size: 36px }
</style>
<div style="padding: 24px 48px;"> 
    <h1>^_^</h1>
    <p>您现在访问的是[Admin]模块下[IndexController]控制器中的[index]方法</p>
    <p>欢迎使用 <b>phpex</b>！</p><br/>
</div>